@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles start from here */

.primary-btn {
    border-radius: 5px;
    background: #ff5959;
    cursor: pointer;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 16px 12px;
}

/* Shared styles end here */

/* Header styles start from here */
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000e5, #00000062), url("../images/header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header .header-info {
    text-align: center;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-info .header-title {
    color: white;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 20px;
}

.header-info .header-description {
    color: #9c9c9c;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

@media screen and (max-width:576px) {
    .header .header-info {
        width: 85%;
    }

    .header-info .header-title {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .header-info .header-description {
        font-size: 1rem;
    }
}

/* Header styles end here */


/* Donate today section start from here */
.donation-today {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-today .donate-today {
    height: max-content;
    width: 60%;
}

.donate-today .donate-info {
    height: max-content;
    margin-bottom: 50px;
}

.donate-today .donate-info .donate-info-title {
    color: #121212;
    font-family: Inter;
    font-size: 3rem;
    margin-bottom: 20px;
}

.donate-info .donate-info-description {
    color: #707070;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
}

.donate-today .donate-amount-card {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
}

.donate-today .donate-amount-card .card {
    width: 80%;
    height: 100px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}


.donate-amount-card .card h2 {
    color: #707070;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
}

.donate-amount-card .speacial-card {
    border: 2px solid #ff5959;
}

.donate-amount-card .speacial-card h2 {
    color: #ff5959;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}



.donate-today .custom-donate-amount {
    width: 100%;
    height: max-content;
    margin-top: 50px;
}

.donate-today .custom-donate-amount input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 2px solid #dadada;
    ;
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #ff5959;
    padding: 10px;
}

@media screen and (max-width:576px) {
    .donation-today .donate-today {
        width: 90%;
    }

    .donate-today .donate-amount-card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .donate-today .donate-amount-card .last {
        grid-column: 1 / -1;
    }

    .donate-today .donate-amount-card .card {
        width: 80%;
        margin: 0 auto;
    }

    .donate-today .custom-donate-amount {
        margin-top: 30px;
    }

    .donate-today .custom-donate-amount input[type="text"] {
        font-size: 1.2rem;
    }
}

/* Donate today section end here */
.donate-plan {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-plan .plan {
    margin: 0 auto;
    width: 85%;
    height: max-content;
}

.plan .plan-info {
    text-align: center;
    width: 60%;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plan .plan-info .plan-title {
    color: #121212;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 20px;
}

.plan .plan-info .plan-description {
    color: #707070;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
}


.donate-plan .plan-card {
    display: flex;
    justify-content: space-around;
}

.donate-plan .plan-card .card {
    width: 30%;
    height: max-content;
    padding: 54px 22px;
    border-radius: 8px;
}

.plan-card .card .plan-card-title {
    color: #121212;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 16px;
}

.plan-card .card .plan-card-description {
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.plan-card .card-1 {
    background-color: #4F9DA61A;
}

.plan-card .card-2 {
    background-color: #FF59591A;
}

.plan-card .card-3 {
    background-color: #ffa60037;
}

@media screen and (max-width:576px) {
    .donate-plan {
        height: max-content;
        margin-bottom: 40px;
    }

    .plan .plan-info {
        width: 100%;
    }

    .plan .plan-card {
        flex-direction: column;
        gap: 20px;
    }

    .donate-plan .plan-card .card {
        width: 100%;
    }
}

/* Donate plan section start from here */



/* How to contribute section start from here */

.how-to-contribute {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.how-to-contribute .contribute {
    width: 80%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contribute .contribute-info {
    width: 50%;
}

.contribute .contribute-info .contribute-title {
    color: #121212;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 20px;
}

.contribute .contribute-info .contribute-description {
    color: #707070;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.contribute .contribute-image-container {
    width: 50%;
    height: 100%;
}

.contribute .contribute-image-container .contribute-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width:576px) {
    .how-to-contribute .contribute {
        flex-direction: column-reverse;
        text-align: center;
    }

    .how-to-contribute .contribute {
        width: 90%;
    }

    .contribute .contribute-info {
        width: 100%;
    }

    .contribute .contribute-info .contribute-title {
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .contribute .contribute-image-container {
        width: 100%;
    }
}

/* How to contribute section end here */